# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

# Editor/IDE
.vscode/
.idea/
*.swp

# Office/exports/temp
~$*
*.tmp
*.temp

# Python
__pycache__/
*.py[cod]
.venv/

# Jupyter
.ipynb_checkpoints/

# Node
node_modules/

# LaTeX
*.aux
*.log
*.out
*.toc
*.synctex.gz



/.quarto/
**/*.quarto_ipynb

# Quarto build output
_site/

# Rendered artifacts
*.html
*_files/
